@using static Mrazaky.Models.Response.FoodResponse
@model Mrazaky.Models.Food

@{
    ViewData["Title"] = "Create";
}

<h4>Zadejte informace o potravinách</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="@ViewBag.Category"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodName" class="control-label"></label>
                <input asp-for="FoodName" class="form-control" />
                <span asp-validation-for="FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreezerName" class="control-label"></label>
                <select asp-for="FreezerName" class="form-control" asp-items="@ViewBag.FreezerName"></select>
                <span asp-validation-for="FreezerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPackages" class="control-label"></label>
                <input asp-for="NumberOfPackages" class="form-control" />
                <span asp-validation-for="NumberOfPackages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackageLabel" class="control-label"></label>
                <input asp-for="PackageLabel" class="form-control" />
                <span asp-validation-for="PackageLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreezerPosition" class="control-label"></label>
                <input asp-for="FreezerPosition" class="form-control" />
                <span asp-validation-for="FreezerPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePurchase" class="control-label"></label>
                <input asp-for="DatePurchase" class="form-control" />
                <span asp-validation-for="DatePurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestBefore" class="control-label"></label>
                <input asp-for="BestBefore" class="form-control" />
                <span asp-validation-for="BestBefore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Vytvořit" class="add-button" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="add-button">Zpět</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
