<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mrazaky</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mrazaky.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="~/js/freezerfood.js"></script>

       
</head>
<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-end">

                <nav class="navbar navbar-expand-lg navbar-dark py-0">

                    <button class="navbar-toggler my-3 responzivnitlacitko" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse text-nowrap" id="navbarSupportedContent">

                        <ul class="navbar-nav mr-auto d-flex align-items-center">
                            <li class="nav-item navbar-underline"><a asp-controller="Home" asp-action="Index" id="navbartextcolor">O aplikaci</a></li>
                            <li class="nav-item navbar-underline"><a asp-controller="DashboardViewModels" asp-action="Index" id="navbartextcolor">Přehled</a></li>
                            <li class="nav-item navbar-underline"><a asp-controller="Foods" asp-action="Index" id="navbartextcolor">Potraviny</a></li>
                            <li class="nav-item navbar-underline"><a asp-controller="Freezers" asp-action="Index" id="navbartextcolor">Mrazáky</a></li>
                            <li class="nav-item dropdown">
                                <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="navbartextcolor">
                                    Správa uživatelů a aplikace
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Login" id="navbartextcolor">Přihlášení</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout" id="navbartextcolor">Odhlášení</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Register" id="navbartextcolor">Registrovat</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Index" id="navbartextcolor">Uživatelé (pouze admin)</a>
                                    <a class="dropdown-item" asp-controller="FreezerFoods" asp-action="Index" id="navbartextcolor">Mrazáky a potraviny</a>
                                    <a class="dropdown-item" asp-controller="FoodCategories" asp-action="Index" id="navbartextcolor">Kategorie potravin</a>
                                </div>
                            </li>
                            <li class="nav-item" id="navbartextcolor">
                                <a href="/Account/Login">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a>Přihlášen jako: </a>
                                        <span> @User.Identity.Name </span>
                                    }
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (ViewData["Title"] == "Home Page")

    {
        <footer>
            Vytvořili &copy; Pavel Rössner a Ben Ranš @DateTime.Now.Year
            <a class="add-button" asp-controller="Home" asp-action="Contact">Kontakt</a>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
