@model Mrazaky.Models.ApplicationUser

@{
    ViewData["Title"] = "Přehled uživatelů";
}

<h4>Před smazáním účtu uživatele je třeba odstranit/zálohovat informace o potravinách a mrazácích.</h4>

<form >
        <a asp-action="Index" class="pridat-tlacitko">Zpět</a>
</form>