@model Mrazaky.Models.Freezer

@{
    ViewData["Title"] = "Edit";
}

<h4>Upravit záznam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FreezerId" />
            <div class="form-group">
                <label asp-for="FreezerName" class="control-label"></label>
                <input asp-for="FreezerName" class="form-control" />
                <span asp-validation-for="FreezerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfShelves" class="control-label"></label>
                <input asp-for="NumberOfShelves" class="form-control" />
                <span asp-validation-for="NumberOfShelves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDefrosted" class="control-label"></label>
                <input asp-for="LastDefrosted" class="form-control" />
                <span asp-validation-for="LastDefrosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefrostInterval" class="control-label"></label>
                <input asp-for="DefrostInterval" class="form-control" />
                <span asp-validation-for="DefrostInterval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit" class="add-button" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="add-button">Zpět</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
