@model Mrazaky.Models.Freezer

@{
    ViewData["Title"] = "Přehled mrazáků";
}

<h4>Před smazáním mrazáku je třeba změnit informace o potravinách, které jsou v něm uložené.</h4>

<form >
        <a asp-action="Index" class="add-button">Zpět</a>
</form>