
/*Font at Body of pages (title page, tables)*/
body {

    font-family: Calibri !important;
    font-size: 14px !important;
    box-sizing: border-box;
    text-decoration: none;
    text-align: justify;
}

/*Heading format at title page*/
h1, h2, h3, h4, h5, h6 {
    text-align: left;
    color: #ffffff;
    text-shadow: 3px 3px 7px #666666;
    padding: 10px 0;
    color: #00386B;
    width: fit-content;
}


/*Register and Logout page width*/
#textwidth {
    margin: 0 auto;
    max-width: 960px;
}


/*Navbar styling - does not affect text color*/
body > header {
    background-image: linear-gradient(to right, #e8d397, #faf8f5);
    height: 70px;
    width: 100%;
}

/*Navbar text format - does not affect color*/
nav ul {
    align-items: center;
    padding: 0px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Calibri;
    font-size: 14px;
    font-weight: bold;
}

/*Navbar text color*/
#navbartextcolor {
    color: darkcyan;
}

/*Underlines text in navbar with mouse hover*/
nav ul a:hover {
    border-bottom: 2px solid #EF6534;
}

/*Navbar text position*/
nav ul li {
    padding: 0 7px;
    font-size: 1em;
    line-height: 4.3em;
}

/*Text style of dropdown menu*/
.dropdown-item {
    color: #0c05c7;
    padding: 0 25px;
    margin: 0 5px;
    font-size: 0.75em;
    line-height: 2em;
}

/*Button style*/
.add-button {
    background: #eac7c7;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/*Button style with mouse hover*/
    .add-button:hover {
        color: white;
        filter: brightness(115%) contrast(85%);
        border: 0;
    }


/*Styling of tables*/
.table {
    width: fit-content;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}

/*Styling of tables - extra wide*/
.table-wide {
    width: 1500px;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}

/*Styling of tables - row height*/
.row-height {
    height: 50px;
}


/*Footer styling*/
footer {
    box-sizing: border-box;
    text-align: center;
    height: 100px;
}


/*Text alignment in tables*/
td, th {
    text-align: left;    
    white-space: normal;
}


/*Table header background*/
thead {
    background-color: #F0F0F0;
}

/*Buttons in tables next to each other*/
.nowrap {
    white-space: nowrap;
}

/*Text in tables centered*/
.text-table-center {
    text-align: center;
}


/*Bold values in tables*/
.bold {
    font-weight: bold;
}


/*Background of responsive dropdowns  - screen size setting*/
@media screen and (max-width:1000px) {
    .navbar-collapse {
        background-color: #f0e5c5;
        z-index: 50;
    }
}

/*Responsive button color*/
.responzivnitlacitko {
    border-color: darkcyan !important;
    background-color: darkcyan !important;
}

/*Dropdown menu styling*/
.dropdown-menu {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    padding: 0px 16px;
    position: absolute;
    top: 0px;
}

/*Sets div width for JS Datatables tables*/
.width {
    width: 500px;
    margin: auto;
    position: absolute;
    left: 200px;
}

/*Sets left alignment for JS date-time at home page*/
.JSleft {
    text-align: left;
}

/*Sets the size of Javascript charts*/
.canvas-size {
    width: auto;
    height: 500px
}