@model Mrazaky.Models.FoodCategory

@{
    ViewData["Title"] = "Create";
}

<h4>Zadej kategorii potravin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodCategoryName" class="control-label"></label>
                <input asp-for="FoodCategoryName" class="form-control" />
                <span asp-validation-for="FoodCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Vytvořit" class="add-button" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="add-button">Zpět</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

